.guilds-wrapper .guilds .friends-icon {
    width: 50px;
    height: 50px;
    background-image: url("https://pmcdeadline2.files.wordpress.com/2016/08/netflix-logo-2016-featured.jpg?w=446&h=299&crop=1");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.guilds-wrapper .guilds {
    background-color: #141414;
}
